.DS_Store
*~
*.bin
*.disasm
*.elf
*.hex
*.map
mri.log
gdb.txt
deploy
debug
/mbed/src/Debug/
/mbed/src/Release/
/LPC1768/
/mbed/drop/
/gcc-arm-none-eabi/
/BuildShell
/BuildShellDebug
/BuildShell.cmd
/BuildShellDebug.cmd
/mac_install.log
/win_install.log
/linux_install.log

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
